{% extends "base.html" %}

{% block main %}
<h2>Transform Your Body, Elevate Your Life: Your Journey Starts Here!</h2>
<section id="image-grid" class="border class">
    <div class="card card-navigation shadow border class">
        <h2 class="h2-navigation">Schedule</h2>
        <a class="btn btn-primary" href="schedule.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Trainers</h2>
        <a class="btn btn-primary" href="trainers.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Videos</h2>
        <a class="btn btn-primary" href="videos.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Contact</h2>
        <a class="btn btn-primary"
            href="contact.html">Click
            Here</a>
    </div>
</section>
<section class="border class">
    <h2>Meet our Trainers</h2>
    <div class="card-trainer mb-3">
        <img src="../static/images/gym-slider.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card-trainer-flipped mb-3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="../static/images/gym-slider.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-trainer mb-3">
        <img src="../static/images/gym-slider.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
</section>
<section class="border class">
    <p>test index page</p>
</section>

{% endblock %}