{% extends "base.html" %}

{% block main %}
<h1>Trainers page</h1>
<section id="trainer-grid" class="border class">
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">Marc Daniels</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/gym-slider3.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">Mary O'Neill</p>
        <p class="p trainer">Speciality: Cardio Fitness</p>
        <p class="p trainer">Availability: Tuesdays and Thursdays </p>
        <a class="btn btn-primary" href="{{ url_for('trainers') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/slider_image1.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/slider_image1.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/gym-slider3.jpg" class="card-img-top" alt="Personal Trainer">
        <p class="p trainer">To Be Confirmed</p>
        <p class="p trainer">Speciality: Strength Training</p>
        <p class="p trainer">Availability: Consultation basis</p>
        <a class="btn btn-primary" href="{{ url_for('schedule') }}">Book Call</a>
    </div>
  </section>
{% endblock %}