{% extends "base.html" %}


{% block main %}
{% if username %}
    <h2>Welcome, {{ username }}</h2>
    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
{% endif %}
<h1>Videos page</h1>

<section id="trainer-grid" class="bg-dark border class">
    <div class="card card-navigation trainer-male shadow border class">
        <iframe src="https://www.youtube.com/embed/vfKwjT5-86k" title="How to Deadlift: 5 Simple Steps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Deadlifting Proper Technique</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/BkTWWuN5fVY" title="Boxing fundamentals: How to jab correctly 🥊" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Boxing Beginner Techniques</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/pqeeB5JWFg4" title="Avoid This Mistake Using Spin Bike Cardio!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Spin Class Beginner Technique</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/f08wZkiEsZQ" title="Shoulder Workout 🔥 | In Gym Shoulder Workout for GROWTH" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">BodyBuilding Tips on Technique</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/Gh0JPSM-9SI" title="How not to turn in the bleep test #bleeptest #beeptest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Tips for Beep Test</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/pBT87_Xz2pw" title="8 Best Cardio Exercises You Can Do Anywhere" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Cardio Excercises you can do anywhere</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <iframe width="509" height="904" src="https://www.youtube.com/embed/XOh39w0uPcE" title="10 Healthy Snacks To Get Shredded" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Nutrition Tips</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/m1UF4RgGoY0" title="Complete Beginner’s Gym Guide (GYM EQUIPMENT TOUR / WORKOUT ROUTINES FOR FIRST TIMERS)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p class="p trainer">Tips for beginners in the Gym</p>
    </div>
  </section>
{% endblock %}