{% extends "base.html" %}

{% block main %}
<h2>Transform Your Body, Elevate Your Life: Your Journey Starts Here!</h2>
<section id="image-grid" class="border class">
    <div class="card card-navigation shadow border class">
        <h2 class="h2-navigation">Schedule</h2>
        <a class="btn btn-primary" href="schedule.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Trainers</h2>
        <a class="btn btn-primary" href="trainers.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Videos</h2>
        <a class="btn btn-primary" href="videos.html">Click Here</a>
    </div>
    <div class="card card-navigation shadow border class">
        <h2>Contact</h2>
        <a class="btn btn-primary"
            href="contact.html">Click
            Here</a>
    </div>
</section>
<p>test index page</p>
{% endblock %}